body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
 
}
.container{
    
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    
    
}
.container h1 {
    font-size: 60px;
    color: white;
    margin: 0;
    text-align: center;
}
.container p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    width: 500px;
    text-align: center;
    padding-left: 23%;
 
}


.jk{
    background-image:linear-gradient(360deg, #121212 2%, rgba(18, 18, 18, 0) 100%), url(images/donation8.jpg);
    position: absolute; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    border: 1px solid #000000;
    color: #000000;
        
      
} 
.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background: #FF5959;
    border-radius: 8px;
    display: flex;
    
    justify-content: center;
    align-items: center; 
    color: white;
    position: absolute;
    width: 150px;
    height: 50px;
    left: 640px;
    top: 400px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;


}

